body{
        background-color: lightgray;
}

main{
    font-family: sans-serif;
}


.hero{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .logo{
    width:80px;
}

nav ul li{
    list-style:none;
    list-style-position: inside;
    display: inline-block;
    width:auto;
    margin-left:40px;
    margin-right:30px;
}
nav ul li a{
    list-style: none;
    text-decoration:none;
    color: #fff;    
    display: inline-block;
    width:auto;
    font-size: 17px;
}


.back-video{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(max-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: 100%;
    }
    nav ul li{
        margin-right: 5px;
    }
}

.content {
    text-align: center;
}
.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color:#fff;
    font-size:24px ;
    border:2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top:20px;
}

content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

@media(max-aspect-ratio: 16/9){
    .content h1{
        font-size: 80px;
    }
}


#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.testimonial-heading h1{
    justify-content: center;    
    font-size: 30px;
    font-weight: 500;
    background-color: #202020;
    color:#fff;
    padding: 10px 20px;
    text-align: center;
}

.testimonial-heading span{
    font-size:1.3rem ;
    color: #252525;
    margin-bottom:10px ;
    letter-spacing: 2px;
}

.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: white;
    padding:20px;
    margin: 15px;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
    align-items: center;
}

.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span{
    color:#979797;
    font-size: 0.8rem;
}
/* .reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
}

 */
.tit{color: black;
    font-size: 2.1rem;
    line-height: 1.4;
    letter-spacing: 0.25rem;
    text-align: center;
    margin-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tit2{color: black;
    font-size: 2.1rem;
    line-height: 1.4;
    letter-spacing: 0.25rem;
    text-align: center;
    margin-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.banner{
    /* The image used */
    background-color:black;
}
/* clase*/

.titular{color: black;
        font-size: 200;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;}
/*Clase Subtitulo*/
.subtitulo{
        color:coral;
        font-size:100;
        font-family:Verdana, Tahoma, sans-serif;
}

.maindiv{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        height:500px;
        position:relative;
        /* left: 50%;
        top:80%;
        transform: translate(-50%, -50%);
        text-align: center;*/
        background-image: url("Vino1.jpeg") ;
        background-size: 100% 100%;
        box-shadow: 5px 5px 5px 5px white;
        animation: slider 20s infinite linear;
        }

        @keyframes slider{

                15%{background-image:url("vino11.jpeg") ;}
                25%{background-image: url("vino19.jpeg");}
                40%{background-image:url("vino8.jpeg") ;}
                60%{background-image:url("vino2.jpeg") ;}
                80%{background-image: url("vino3.jpeg");}
                90%{background-image:url("vino4.jpeg") ;}
                100%{background-image:url("vino5.jpeg") ;}
                5%{background-image:url("vino7.jpeg") ;}
                10%{background-image:url("vino12.jpeg") ;}

        }

@media(min-aspect-ratio: 16/9){
        .maindiv{
            width: 60%;
            height: 800px;
        }
        @keyframes slider{

            0%{background-image: url("vino6.jpeg");}
            35%{background-image: url("vino9.jpeg");}
            75%{background-image: url("vino13.jpeg");}
            
        }

    }
.ecom{
        position:relative;

        
}

.cart-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: black;

    }
    
    .cart-column {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
        margin-right: 1.5em;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    
    .cart-row {
        display: flex;
    }
    
    .cart-item {
        width: 45%;
        font-size: 1.2em;
    }
    
    .cart-price {
        width: 20%;
        font-size: 1.2em;
    }
    
    .cart-quantity {
        width: 35%;
        font-size: 1.2em;
    }
    
    .cart-item-title {
        color: black;
        margin-left: .5em;
        font-size: 1em;
    }
    
    .cart-item-image {
        width: 75px;
        height: auto;
        border-radius: 10px;
    }