body{background-color: lightgrey;}


h1{color: black;
    font-size: 50;
    font-family: 'Courier New', Courier, monospace;}
/* clase*/

.titular{color: grey;
        font-size: 200;
        font-family: 'Courier New', Courier, monospace;}


