body{background-color: light-grey;}

/* clase*/
<head>
    <style>
        .titular{color: grey;
        font-size: 50;
        font-family: 'Courier New', Courier, monospace;}
    </style>
</head>


